<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center d-flex flex-column justify-content-center align-items-center full-height">

      <div class="">        
        <img src="images/logos/trashPoints-logotipo-alpha.svg" alt="logo">
      </div>

      <p class="lead text-gray-800 mb-5 font-weight-normal">404 - Página não encontrada</p>
      <p class="text-gray-500 mb-0">Parece que você tentou acessar uma página inexistente</p>
      <a href="#!/home">&larr; Voltar para o início</a>
    </div>

  </div>
  <!-- /.container-fluid -->